# Bangla Digit Classification
Dataset provided by MD. Arif

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("data.csv")
df.head()

,Label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,8,251,252,1,247,249,254,255,255,255,...,255,255,255,255,255,255,255,255,255,255
1,2,255,255,255,255,255,255,255,255,255,...,255,252,254,255,254,6,0,239,253,255
2,9,255,255,255,255,254,255,250,253,253,...,255,255,255,255,255,255,255,255,255,255
3,0,255,254,255,255,255,255,254,254,254,...,31,244,255,255,255,251,254,254,254,255
4,0,255,255,255,255,255,254,254,254,255,...,254,253,254,253,253,254,254,254,255,255

1. Create features and target array.
2. Scale features array.
3. Split dataset in training and test set with ratio of 0.3

In [17]:
X = df.drop("Label", axis=1).values
y = df["Label"].values

## I'm using two kind of scaling
* sklearn.preprocessing.StandardScaler (using variable std_X)
* Simply dividing all values by 255. This will make the range of data [0,1]

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
std_X = sc.fit_transform(X)
std_X

array([[ -0.11464388,  -0.02393645, -12.80894999, ...,   0.40316392,
          0.39639535,   0.33062486],
       [  0.11864656,   0.12658178,   0.13324576, ...,   0.19812513,
          0.37104972,   0.33062486],
       [  0.11864656,   0.12658178,   0.13324576, ...,   0.40316392,
          0.39639535,   0.33062486],
       ...,
       [ -0.05632127,  -0.02393645,   0.13324576, ...,   0.40316392,
          0.39639535,   0.33062486],
       [  0.11864656,   0.12658178,   0.13324576, ...,   0.37753408,
          0.39639535,   0.33062486],
       [  0.11864656,   0.12658178,   0.13324576, ...,   0.40316392,
          0.39639535,   0.33062486]])

In [20]:
X = X / 255
X

array([[0.98431373, 0.98823529, 0.00392157, ..., 1.        , 1.        ,
        1.        ],
       [1.        , 1.        , 1.        , ..., 0.9372549 , 0.99215686,
        1.        ],
       [1.        , 1.        , 1.        , ..., 1.        , 1.        ,
        1.        ],
       ...,
       [0.98823529, 0.98823529, 1.        , ..., 1.        , 1.        ,
        1.        ],
       [1.        , 1.        , 1.        , ..., 0.99215686, 1.        ,
        1.        ],
       [1.        , 1.        , 1.        , ..., 1.        , 1.        ,
        1.        ]])

In [21]:
X.min(), X.max()

(0.0, 1.0)